@import './../../color.module.scss';
.inputAge {
  input {
    color: white;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
  }
  display: flex;

  button {
    border-radius: 0rem;
    &:nth-child(2) {
      border-top-right-radius: 0.3125rem;
      border-bottom-right-radius: 0.3125rem;
      border-left: 0.0313rem solid #ffffff1e;
    }
  }
  .buttonArrow {
    display: flex;
    flex-direction: row;
  }
}