@import "./../../color.module.scss";
.wrapperTable {
  width: 28.125rem;
  height: 100%;
  box-sizing: border-box;
  border-radius: 0.3125rem;
  border: 0.0625rem solid var(--button-color);
}

.table {
  div {
    div {
      div {
        div:nth-child(2) {
          table {
            border-collapse: collapse;
            tbody {
              tr {
                height: 1.5rem !important;
               
                
              }
              .test {
                // border: 1px solid black ;
                font-size: 5rem;
                background-color: green;
              }
            }
          }
          width: 28.4375rem;
          padding: 0 0.625rem 0 0.1875rem;
          &::-webkit-scrollbar {
            width: 0.375rem;
            background-color: var(--button-color);
          }
          &::-webkit-scrollbar-thumb {
            background-color: $green;
          }
      
          height: 302px;
        }
        div:nth-child(1) {
          table {
            thead {
              tr {
                th {
                  border-top: 0.25rem solid var(--background-color);
                }
              }
            }
          }
          th {
            text-align: center;
          }
          box-sizing: border-box;
          position: absolute;
          z-index: 1;
          margin: 0 0.1875rem;
          width: 27.25rem;
        }
      }
    }
  }
}
