:root {
  --background-color-theme1: #313131;
  --white-color-theme1: #ffffff;
  --button-color-theme1: #595959;

  --background-color-theme2: #ffffff;
  --white-color-theme2: #000000;
  --button-color-theme2: #cccccc;

  --background-color: var(--background-color-theme1);
  --button-color: var(--button-color-theme1);
  --white: var(--white-color-theme1);
}
