@import "./../../color.module.scss";

.InsertRow {
  max-height: 100%;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  max-width: 12.5rem;
  border-radius: 0.25rem;
  padding: 0.4375rem;
  border: 0.0625rem solid $lightGrey;
  h1 {
    display: flex;
    width: 4.1875rem;
    background-color: $darkGrey;
    margin: 0;
    font-size: 0.8125rem;
    line-height: 100%;
    font-weight: 300;
    margin-top: -0.9375rem;
    justify-content: center;
  }
}
input {
  color: $white;
  max-width: 100%;
  &:focus {
    border: 0.125rem solid $green;
    padding: 0.25rem 0.25rem;
  }
  outline: none;
  padding: 0.3125rem;
  &::placeholder {
    color: $white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }
  background-color: rgba(0, 0, 0, 0);
  border: 0.0625rem solid $lightGrey;
  border-radius: 0.25rem;
}

.hr {
  width: 90%;
  border: 0.0313rem solid $lightGrey;
}
