@import "./../../color.module.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  background-color: $darkGrey;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  margin: 0;
  padding: 30px;
  box-sizing: border-box;
}
button {
  background-color: $lightGrey;
  border: 0;

  border-radius: 4px;
  padding: 6px;
  color: white;
}
.xxx {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  border-radius: 4px;
  padding: 7px;
  border: 1px solid $lightGrey;
}
input {
  padding: 5px;
  &::placeholder {
    color: white;
  }
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid $lightGrey;
  border-radius: 4px;
}

// -------------------------------------------
.inputAge {
  display: flex;
  button {
    border-radius: 0px;
  }
}
// -------------------------------------------
